body{
   margin: 0 !important;
}
.container {
    position: relative;
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: red;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
}

#one, #two {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid black;
}

#one {
    background-color: orange;
    top: 0px;    
}

#two {
    background-color: yellowgreen;
    bottom: 0px;
}
